body
{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: Arial, 'Verdana', or Helvetica

}
header{
    margin: 4%;
}
.main-nav ul
{
    list-style-type: none;
}
.main-nav ul li {
    display: inline-block;
    padding: 25px;
}
.main-nav ul li a
{
    font-weight: 300;
    color: #000000;
    font-style: italic;
}

.main-nav ul li a
{
text-decoration: none;
}
.active
{
    color:#efdde7 !important;
}
.main-nav ul li a:hover
{
    color:#efdde7;
}
.logo img
{
    width: 20%;
}
ion-icon
{
    font-size: 25px;
}
.salmon {
    width: 20%;
    padding-left: 9%;
    position: relative;
    bottom: 19px;
    display: inline-block;
}
.main-nav
{
    display:inline-flex;
}
.navbar-second-part {
    position: relative;
    bottom: -2px;
}

.hours
{
    margin: 80px;
    padding: 10px;

}
.hours th
{
    padding: 10px;
}



.table1 {
    width: 100%;
    color: #212529;
    margin: 5% auto;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#cookies span
{
    padding: 6px;
    position: relative;
    top: 70px;
    left: 145px
}
.store-names
{
    margin: 8%;
}
.store-item {
    border: 1px solid #000000;
    height: 170px;
}
.hours-location
{
    text-align: center;
}
.main-images
{
    padding: 50px;

}
.main-images img {
    padding-left: 10px;
    width: 15%;
    border: 1px solid #000;
    height: 200px;
    border-radius: 50%;
}
.form {
    margin: 80px 42px;
}
fieldset
{
    text-align: center;
    padding: 50px;
}
label
{
    margin-right: 30px;
}
input
{
    width: 200px;
    margin-top: 20px;
}

#minGuest {
    position: relative;
    right: 14px;
}
#maxguest {
    position: relative;
    left: 7px;
}
#avgcookies {
    position: relative;
    left: 5px;
}